@font-face {
    font-family: 'twobit_regular';
    src: url('Twobit.eot');
    src: url('Twobit.eot?#iefix') format('embedded-opentype'),
         url('Twobit.woff') format('woff'),
         url('Twobit.ttf') format('truetype'),
         url('Twobit.svg#twobit_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



Font License.txt
stylesheet.css
Twobit.eot
Twobit Italic.ttf
Twobit.svg
Twobit.ttf
Twobit.woff
Twobit.woff2
twobit.zip

