// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin serif-font {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin script-font {
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
@mixin body-font {
  font-family: 'Titillium+Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin heading-font {
  //font-family: 'cirqua_regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: 'Titillium+Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin data-font {
  font-family: 'heavy_dataregular', Arial, sans-serif;
}
@mixin cirqua-font {
  font-family: 'cirqua_regular', Arial, sans-serif;
}

@mixin twobit-font {
  font-family: 'twobit_regular', Arial, sans-serif;
}

@mixin smooth-circulars-font {
  font-family: 'circulars_regular', Arial, sans-serif;
}

