@font-face {
    font-family: 'cirqua_regular';
    src: url('Cirqua.eot');
    src: url('Cirqua.eot?#iefix') format('embedded-opentype'),
         url('Cirqua-Regular.woff') format('woff'),
         url('Cirqua.ttf') format('truetype'),
         url('Cirqua-Regular.svg#cirqua_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

