@font-face {
    font-family: 'circulars_regular';
    src: url('SmoothCirculars.eot');
    src: url('SmoothCirculars.eot?#iefix') format('embedded-opentype'),
         url('SmoothCirculars.woff2') format('woff2'),
         url('SmoothCirculars.woff') format('woff'),
         url('SmoothCirculars.ttf') format('truetype'),
         url('SmoothCirculars.svg#circulars_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



